body{
    background-color: #FBF8F1;
    font-family: verdana;
  }

  hr{
    border-style: none ;
    border-top-style: dotted;
    border-color: #54123B;
    border-width: 5px;
    width: 5%;
  }

  h1{
    color: #060930;
  }

  h3{
    color: #060930;
  }

  .container{
    padding-left: 1;
  }
